{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">
    Hub Management
</h2>

<div class="row">

    <div class="col-md-4">

        <div class="card-box">

            <h4>Chennai Hub</h4>

            <p>
                Total Shipments: 2500
            </p>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card-box">

            <h4>Bangalore Hub</h4>

            <p>
                Total Shipments: 1900
            </p>

        </div>

    </div>

</div>

{% endblock %}