SECRET_KEY=change-me
DEBUG=True
DB_ENGINE=django.db.backends.postgresql
DB_NAME=trackflow_db
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0
TRACKFLOW_ASYNC_LABELS=False
TRACKFLOW_STORAGE_BACKEND=local
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=ap-south-1
