SECRET_KEY=change-me
DEBUG=True
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
CELERY_BROKER_URL=memory://
CELERY_RESULT_BACKEND=cache+memory://
CHANNEL_LAYER_BACKEND=channels.layers.InMemoryChannelLayer
TRACKFLOW_ASYNC_LABELS=False
TRACKFLOW_STORAGE_BACKEND=local
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=ap-south-1
SMS_API_URL=
SMS_API_KEY=
SMS_SENDER_ID=TRACKFLOW
WHATSAPP_API_URL=
WHATSAPP_TOKEN=
