{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">
    Merchant Dashboard
</h2>

<div class="row">

    {% include 'components/stats_card.html'
    with title='Total Shipments' value=1200 %}

    {% include 'components/stats_card.html'
    with title='Delivered' value=980 %}

    {% include 'components/stats_card.html'
    with title='Failed' value=120 %}

    {% include 'components/stats_card.html'
    with title='Revenue' value='₹50,000' %}

</div>

<div class="card mt-4">

    <div class="card-body">

        <canvas id="shipmentChart"></canvas>

    </div>

</div>

<script>

const ctx = document.getElementById('shipmentChart');

new Chart(ctx, {

    type: 'bar',

    data: {

        labels: ['Delivered', 'Failed', 'RTO'],

        datasets: [{
            label: 'Shipments',

            data: [980, 120, 50]
        }]
    }
});

</script>

{% endblock %}