{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">
    Dispatch Center
</h2>

<div class="table-container">

    <table class="table">

        <thead>

            <tr>
                <th>Driver</th>
                <th>Vehicle</th>
                <th>Assigned Orders</th>
            </tr>

        </thead>

        <tbody>

            <tr>
                <td>Ravi</td>
                <td>Bike</td>
                <td>25</td>
            </tr>

            <tr>
                <td>Kumar</td>
                <td>Van</td>
                <td>40</td>
            </tr>

        </tbody>

    </table>

</div>

{% endblock %}