<nav class="navbar bg-white rounded shadow-sm mb-4 p-3">

    <div class="container-fluid">

        <span class="navbar-brand fw-bold">
            Dashboard
        </span>

        <div>

            <span class="me-3">
                {% if request.user.is_authenticated %}
                    {{ request.user.email }}
                {% else %}
                    Guest
                {% endif %}
            </span>

            {% if request.user.is_authenticated %}
                <form class="d-inline" method="post" action="{% url 'account-web-logout' %}" onsubmit="localStorage.removeItem('access'); localStorage.removeItem('refresh');">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">
                        Logout
                    </button>
                </form>
            {% else %}
                <a href="{% url 'account-login-page' %}" class="btn btn-primary btn-sm">
                    Login
                </a>
            {% endif %}

        </div>

    </div>

</nav>
