<div class="sidebar p-3">

    <h3 class="mb-4">TrackFlow</h3>

    <ul class="nav flex-column">

        <li class="nav-item mb-2">
            <a href="{% url 'home' %}" class="nav-link text-white">
                Dashboard
            </a>
        </li>

        <li class="nav-item mb-2">
            <a href="{% url 'shipment-list-page' %}" class="nav-link text-white">
                Shipments
            </a>
        </li>

        <li class="nav-item mb-2">
            <a href="{% url 'tracking-page' %}" class="nav-link text-white">
                Tracking
            </a>
        </li>

        <li class="nav-item mb-2">
            <a href="{% url 'billing-invoice-list' %}" class="nav-link text-white">
                Billing
            </a>
        </li>

        <li class="nav-item mb-2">
            <a href="{% url 'merchant_dashboard' %}" class="nav-link text-white">
                Analytics
            </a>
        </li>

    </ul>

</div>
